.displayTodos {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.displayTodos .Buttons {
  margin-bottom: 2rem;
}
.displayTodos .Buttons button {
  padding: 0.5rem 1.2rem;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  color: #271c6c;
}
.displayTodos .Buttons button:hover {
  background-color: rgb(169, 91, 189);
  transform: scale(1.1);
}

.displayTodos .Buttons button:not(:last-child) {
  margin-right: 1rem;
}
.container {
  display: flex;
  margin-left: 5%;
  padding: 0;
}
.container ul {
  list-style: none;
  display: flex;
  /*align-self: flex-start;*/
  flex-wrap: wrap;
}
.card {
  display: flex;
  background: #b4b6da;
  background: radial-gradient(
    circle,
    rgba(180, 182, 218, 0.9) 0,
    rgba(226, 236, 253, 0.9) 100%
  );
  margin: 0 1rem 1rem;
  height: 8rem;
  width: 18rem;
  position: relative;
}
.card:hover {
  transform: scale(0.98);
}
.card span {
  padding: 1rem;
  color: #271c6c;
  font-size: 16px;
}
.card .btns {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.card .btns button {
  border-radius: 20%;
  border: none;
  font-size: 1.4rem;
  margin: 0 0.6rem;
  cursor: pointer;
  color: #271c6c;
  background-color: transparent;
}
.card .btns button:focus {
  outline: none;
}
